<!DOCTYPE html>
<html>
    <head>
        <title>weather
        </title>
        <link rel="icon" href="/image/logo.png">
        <link rel="stylesheet" href="/css/icss.css">
        {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> --}}
    </head>
    <body>
      {{!-- <img src="/image/logo.png" alt=""> --}}
      {{!-- <h1><i class="fa fa-camera-retro"></i></h1> --}}
        <div class="jumbotron">
        <div id="maindiv"><a href="/"><h1>Weather</h1></a></div>
        <form>
        <input type="text" placeholder="Location" id="city">
        <button>SEARCH</button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"></p>
        {{!-- <h3>{{name}}</h3> --}}
        </div>
        <script src="/javascript/iapp.js"></script>
    </body>
</html>